/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #E9F2E5;
    padding: 20px 0;
    color: #cfebf7;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #021753;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #021753;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f39c12;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #E9F2E5;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero-content {
    flex: 1;
    max-width: 60%;
    text-align: left;
}

#title h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #0b2a32;
    margin-bottom: 20px;
}

#title img {
    vertical-align: middle;
    margin-left: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #2d3748;
    margin-bottom: 20px;
}

.hero-image {
    flex: 1;
    max-width: 60%;
    text-align: right;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Coin Markets Section */
.coin-markets {
    background-color: #F7F4EF;
    padding: 50px 0;
}

.coin-markets .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.coin-cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Coin Card Styles */
.coin-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 200px;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coin-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.coin-card img {
    width: 60px;
    height: auto;
    margin-bottom: 15px;
}

.coin-card .coin-details {
    margin-top: 10px;
}

.coin-card .coin-details h3 {
    font-size: 24px;
    color: #333;
}

.coin-card .coin-details p {
    color: #999;
    margin: 10px 0;
}

.coin-card .coin-details h2 {
    font-size: 28px;
    color: #333;
    margin: 10px 0;
}

.coin-card .coin-details p:last-child {
    font-size: 14px;
    color: #4caf50;
}

.coin-markets .coin-card:nth-child(2) {
    transform: translate(20px, -20px);
}

/* Text Content in Coin Markets */
.coin-markets .text-content {
    max-width: 500px;
    text-align: left;
    margin-left: 50px;
}

.coin-markets h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.coin-markets p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.coin-markets .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.coin-markets .btn:hover {
    background-color: #e67e22;
}

/* Leader Section Styles */
.leader {
    padding: 60px 0;
    background-color: #fefaf5;
    position: relative;
}

.leader .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.leader-left h2 {
    font-size: 54px;
    color: #203040;
    margin-bottom: 20px;
    line-height: 1.2;
}

.leader-left p {
    font-size: 18px;
    color: #626262;
    margin-bottom: 15px;
}

.leader-right img {
    max-width: 80%;
    height: auto;
    transform: rotate(-5deg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Adiciones de Estilo */
.leader-left p::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #cf1616;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.leader .container::before,
.leader .container::after {
    display: none;
}

/* Estilo específico para el h2 */
.exchange h2 {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    font-size: 2rem;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Features Section */
.features {
    padding: 40px;
    background-color: #f9f8fa;
    text-align: center;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 60px;
    color: #333;
}

.features-grid {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.feature-tile {
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    text-align: left;
}

.feature-icon-small {
    width: 90px;
    height: 80px;
    margin-right: 10px; 
}

.feature-tile p {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
}

/* Mobile App */
.mobile-app {
    padding: 40px 20px;
    background-color: #effcf7;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    flex: 1;
}

.crypto-image {
    flex-shrink: 0;
    max-width: 400px;
    margin-left: 20px;
}

h2 {
    font-size: 52px;
    margin: 0;
}

.app-store-buttons {
    margin-top: 20px;
}

.app-store-button img {
    width: 150px;
    margin: 0 10px;
}

.footer-1, .footer-2 {
    padding: 20px 50px;
}

/* Estilos del primer footer */
.footer-1 {
    background-color: #4eb16f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-1 a {
    font-size: 15px; 
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

.footer-1 .footer-left {
    display: flex;
    align-items: center;
}

.footer-1 .logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.footer-1 .footer-left nav a {
    margin-right: 20px;
}

/* Estilos del segundo footer */
.footer-2 {
    background-color: #E7F0E1;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-2 .footer-left {
    max-width: 70%;
}

.footer-2 .footer-right {
    display: flex;
    align-items: center;
}

.footer-2 .footer-right a {
    color: #333333;
    text-decoration: none;
    margin-left: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
}

.footer-2 .footer-right a img {
    width: 90px;
    height: 90px;
}

.footer-2 .footer-right a:hover {
    background-color: #333333;
    color: white;
}

/* Media Queries para Responsividad */
@media (max-width: 1200px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center;
    }
    
    .hero {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        padding: 30px; /* Ajusta el padding */
    }

    .hero-content, .hero-image {
        max-width: 100%; /* Asegura que el contenido y la imagen ocupen el 100% */
        text-align: center; /* Centra el texto */
    }

    .coin-cards {
        flex-direction: column; /* Cambia a columna para las tarjetas de monedas */
        align-items: center; /* Centra las tarjetas */
    }

    .coin-card {
        width: 100%; /* Asegura que las tarjetas ocupen el 100% del ancho */
        max-width: 300px; /* Limita el ancho máximo */
        margin-bottom: 20px; /* Añade espacio entre tarjetas */
    }

    .features-grid {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los tiles */
    }

    .feature-tile {
        width: 100%; /* Asegura que el tile ocupe el 100% del ancho */
        max-width: 250px; /* Limita el ancho máximo */
        margin-bottom: 20px; /* Añade espacio entre tiles */
    }

    .crypto-image {
        margin-left: 0; /* Elimina margen en pantallas pequeñas */
        margin-top: 20px; /* Añade margen superior */
        max-width: 100%; /* Asegura que la imagen no exceda el ancho */
    }

    .footer-1, .footer-2 {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra el contenido */
    }

    .footer-1 .footer-left,
    .footer-2 .footer-left,
    .footer-2 .footer-right {
        max-width: 100%; /* Asegura que los elementos ocupen el 100% */
        text-align: center; /* Centra el texto */
        margin-bottom: 10px; /* Añade espacio entre secciones */
    }
}
